/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  border: 2px solid #777;
}

#cabecera { clear: both; }
#menu { clear: both; }
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 78%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */
 #cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie{
  border:none;
}
#cabecera {
  box-sizing: border-box;
  padding: 1em;
}
#menu {
  box-sizing: border-box;
  padding: 0.5em;
}
#noticias, #publicidad, #principal, #secundario{
  box-sizing: border-box;
  padding: 0.5em;
}
#pie {
  box-sizing: border-box;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.articulo {
  margin-bottom: 1em;
}
.articulo img{
  margin: 0.5em;
}
#publicidad{
  margin-top: 1em;
}
#pie{
  margin-top: 1em;
}
#menu{
  border-bottom: 1px solid #004C99;
}
#noticias{
  border: 1px solid #C5C5C5;
}
#publicidad{
  border: 1px dotted #CC6600;
}
#contenido #secundario{
  border: 1px solid #CC6600;
}
#pie{
  border-top: 1px solid #C5C5C5;
  border-bottom:1px solid #C5C5C5;
}
#noticias, #pie{
  background-color: #F8F8F8;
}
#publicidad{
  background-color: #FFF6CD;
}
#secundario h2{
  background-color: #DB905C;
  padding: 0.2em;
}
#menu{
  background-color: lightblue;
}
#cabecera h1{
  background-image: url("imagenes/logo.jpg"); 
  width: 250px; 
  height: 100px
}
body {
  font-family: arial; 
  color: black; 
  font-size: 0.9em; 
  line-height: 1.4em; 
}
.articulo h2{
  font-size: 1.6em;
  color: #CC6600;
  line-height: 1.2em;
  margin-bottom: 0.3em;
}
#menu a{
  margin-right: 1em;
  font-size: 1.3em; color: white;
}
#lateral{
  font-size: 0.9em;
}
#noticias .fecha {
  display: block; color:#999;
}
#noticias h3 a{
  color: #003366;
}
#publicidad{
  color: #003366;
}
#publicidad a{
  color: #CC6600
}
.articulo a {
 color: #CC6600;

}
.articulo p{
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}
#pie {
  font-size: 0.7em;
}
a[href$=".com"]{
  color:red;
}
a[href$=".net"]{
  color:yellow;
}
.articulo p::first-line{
  color:red;
}
.articulo p:not(.special)::first-letter{
  color: darkgreen;
  font-size: 20px;/*porque me incluye tb los enlaces*/
}
#noticias li:nth-child(odd) a{
  font-size: 15px;
  color:lightgreen;
  font-style: italic;

}
#noticias li:nth-child(even) a{
  font-size: 10px;
  color:brown;/*no cambia el color*/
  font-family:arial;
}
