/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  border: 2px solid #777;
}

#cabecera { clear: both; }
#menu { clear: both; }
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 78%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */
*{
  box-sizing: border-box;
}

body{
  color: black;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.articulo h2{
  color: #CC6600;
  font-size: 1.6em;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie{
  border: none;
}

#cabecera{
  padding: 1em;
}

#menu{
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid  #004C99;
  /*  border-bottom-color: #004C99; 
      border-bottom-style: solid; 
      border-bottom-width: 1px; */
}

#menu a{
  margin-right: 1em;
  font-size: 1.3em;
  color: white;
}

#lateral{
  font-size: 0.9em;
}
#lateral #noticias .fecha{
  color: #999;
  display: block;  
/*la fecha es elemento span, que es de tipo línea y ocupa lo que ocupe el texto entrado. Una línea es un bloque,
y el span ocupa una parte de ese bloque. Si queremos que ese texto ocupe todo el bloque se ha de pasar a bloque
usaremos  display: block;   */
}

#noticias h3 a{
  color: #003366;
}

#publicidad p{
  color: #555;
}

#publicidad a{
  color: #CC6600;
}

.articulo a{
  color: #CC6600;
}

.articulo p{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#secundario h2{
  color: white;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#secundario p {
  margin-bottom: 0.5em;
}

#pie{
  font-size: 0.7em;
}

#noticias{
  border: 1px solid #C5C5C5;
}

#noticias, #publicidad, #principal, #secundario{
  padding: 0.5em;
}

#pie{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  border-top: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
}

.articulo {
  margin: 1em;
}

img{
  margin: 0.5em;
}

#publicidad{
  margin-top: 1em;
  border: 1px dotted #CC6600;
}

#secundario{
  border: 1px solid #CC6600 !important;
}

#noticias, #pie{
  background: #F8F8F8;
}

#publicidad{
  background: #FFF6CD;
}

#secundario h2{
  background: #DB905C;
  padding: 0.2em;
}

#menu{
  background-image: url(../imagenes/fondo_menu.png);
}

#cabecera h1 span{
  visibility: hidden;
}
#cabecera h1{
  background-image: url(../imagenes/logo.png);
  background-size: 162px 35px;
  background-repeat: no-repeat;
}


