fieldset{
	width: 100%;
}

#cabecera{
	display: block;
	text-align: center;
}

.imagen1{
	display: block;
	width: 5%;
	margin-right: 20%;
	float: left;
}

.imagen2{
	display: block;
	margin-right: 10%;
	float: left;
}

.imagen3{
	display: block;
	float: left;
	width: 5%;
	margin-right: 20%;
}

.imagen4{
	display: block;
	float: left;
	width: 20%;
}